# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Django development
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Temporary files
*.swp
*.swo
*~
.DS_Store
