
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Season Wise Weather Data</title>
</head>
<body>
    <h1> Seasonwise Weather Data</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Region</th>
                <th>Parameter</th>
                <th>Year</th>
                <th>Winter</th>
                <th>Spring</th>
                <th>Summer</th>
                <th>Autumn</th>
            </tr>
        </thead>
        <tbody>
            {% for data in seasonal_data %}
                <tr>
                    <td>{{ data.region }}</td>
                    <td>{{ data.params }}</td>
                    <td>{{ data.year.year }}</td>
                    <td>{{ data.win }}</td>
                    <td>{{ data.spr }}</td>
                    <td>{{ data.sum }}</td>
                    <td>{{ data.aut }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table>
        <tbody>
            <!-- Data will be dynamically populated here -->
            {% for item in data %}
            <tr>
                <td>{{ item.region__name }}</td>
                <td>{{ item.parameter__name }}</td>
                <td>{{ item.year__year }}</td>
                <td>{{ item.month__name }}</td>
                <td>{{ item.value }}</td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
</body>
</html>


